.banner{
    width: 100%;
    height:100vh;
    display: flex;
    align-items: center;
}
.banner h2{
    font-size: 55px;
    font-weight: 700;
    color: #013243;
}
.banner span{
    color: #1e0b9b;
}
p{
    font-size: 16px;
    color: #4A5764;
}
.btn{
    padding: 8px 15px;
    border-radius: 10px;
    margin-right:15px;
    margin-left: 15px;
}